@font-face {
    src: url(Silkscreen-Bold.ttf);
    font-family: silk
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: silk;
    color: goldenrod
}

.body {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right rgba(0,0,0,1), rgba(0,0,0,1));
    background-size: cover;
    background-position: center;
    color: #e2e5de;
    font-size: 30px;
    cursor: pointer;
}

.about-me {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5)
}

.about{
    width: 90%;
    max-width 1000px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-img{
    background-image: url(me.png);
    min-width: 50vw;
    min-height: 100vh;
} 


.hero_imgs {
    object-fit: cover;
    display: flex;
    background-image: linear-gradient(to right rgba(0,0,0,1), rgba(0,0,0,1));
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 29;
    cursor: pointer;
    mix-blend-mode: overlay;
}

.overlay {
    position:absolute;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    z-index: 992;
    /* background: url(video.mp4);
    background-size: cover; */
}

.hero_overlay {

}

.video_overlay {
    object-fit: cover;
    min-height: 100vh; 
    min-width: 50vw;
} 

.navbar {
    width: 100vw;
    padding: 40px 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
    z-index: 10;  
}

.tab { 
    align-items: center;
    justify-content: space-between
    display: inline-block;
    padding: 8px 5px;
    background-color: #313131; 
    color: #999; 
    border-width: 1px 1px 2px 1px;
    border-style: solid;
    border-color: #222;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: MontSerrat,Tahoma,Arial,sans-serif;
    font-weight: 700;
    font-size: .75em;
    line-height: 1em;
    box-shadow: 1px 1px 0 rgb(0 0 0 / 25%);
    margin: 3px;
    opacity: 1;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: 0.2s;
    z-index: 9999;  
   
}  

.tab:hover {
    letter-spacing: 6px;
    text-decoration:
}

/* .text,h2 {
    font-size: 3em;
    font-weight: 800;
    line-height: 1em;
    text-transform: uppercase;
    color: goldenrod;
    opacity: 0.9;
} */

.about {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text {
    width: 550px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
}

.about-text h3 {
    color: #d8b759;
    font-size: 150px;
    text-align: center;
    letter-spacing: 1px;
    margin: 15px;
}

.about-text p {
    color:#e2e5de;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 1px;
}



/* .about-text {
    width: 550px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
}

.about-text,h3 {
    font-size: 5em;
    font-weight: 800;
    line-height: 1em;
    text-transform: uppercase;
    color: goldenrod;
    opacity: 0.9;
    color: #d8b759;
    font-size: 150px;
    text-align: center;
    letter-spacing: 1px;
    margin: 15px;
}

.about-text p {
    color:#e2e5de;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 1px;
}

.about-text h2{
    font-size: 5em;
    font-weight: 800;
    line-height: 1em;
    text-transform: uppercase;
    color: goldenrod;
    opacity: 0.9;
} */
/* .video_overlay{ 
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    z-index: 992;
    background: url(video.mp4);
    background-size: cover;
} */

/* .video_overlay {
    object-fit:contain;min-width: 50vw;
min-height: 100vh;
position: relative;
    background-position: right;
    background-image: url(video.mp4);
    background-size: 150px;
    /* width: 300px;
    height: 300px; */
    /* width: 400px; */
    /* mix-blend-mode: overlay;
    min-height: 100vh;
    position: relative;
    top: 20;
    z-index: 5;
    right: 0;
    object-fit: fill;
}
object-fit:contain;
min-width: 50vw;
min-height: 100vh;
position: relative;
top: 20;
  z-index: -5;
  left: 0; */ */



.right{
    width: 50%;
    min-height: 400px;
    background-color: darkgray;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 8px;
    color: white;

    object-fit:contain;
    min-width: 50vw;
    min-height: 100vh;
    position: relative;
    top: 20;
      z-index: -5;
      right: 0;
}




.hero_imgs {
    display: flex;
    background-image: linear-gradient(to right rgba(0,0,0,1), rgba(0,0,0,1));
}

.hero_overlay{
  width: 100%; 
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.5); Black background with opacity */ */ */
  /* z-index: 2; 
  cursor: pointer;
}
.video_overlay {
  object-fit:contain;
  min-width: 50vw;
  min-height: 100vh;
  position: relative;
  top: 20;
    z-index: -5;
    left: 0;
}
.halfpic {
    object-fit:contain;
  min-width: 50vw;
  min-height: 100vh;
  position: relative;
  top: 20;
    z-index: -5;
    left: 0;
}


/* .header{
    width: 100
}

.foot{ 
    position: relative;
    background-color:#222;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    color: #e2e5de;
    font-size: 15px;
    cursor: pointer;
    list-style: none;
}

.fh{     
    position: relative;
    color: #cacaca;
    font-weight: 400;
    margin-bottom: 2px;
    font-size: 1.15em;
    line-height: 1.7em;
    font-family: MontSerrat,Tahoma,Arial,sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
}

.social-media{
    align-items: center; 
    justify-content: space-between 
    display: inline-block;
    position:calc(60);
    bottom: 20px;
    z-index: 10;
    display: flex; 
    justify-content: center;
    list-style: none;
   
} 

.a:link{
    text-decoration: none;
}

a:link{
    text-decoration: none;
}


.navbar {
    padding: 1.2rem 0;
    box-shadow:none;
    z-index: 4; 
}
 .tab { 
    align-items: center;
    justify-content: space-between
    display: inline-block;
    padding: 8px 5px;
    background-color: #313131;
    color: #999;
    border-width: 1px 1px 2px 1px;
    border-style: solid;
    border-color: #222;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: MontSerrat,Tahoma,Arial,sans-serif;
    font-weight: 700;
    font-size: .75em;
    line-height: 1em;
    box-shadow: 1px 1px 0 rgb(0 0 0 / 25%);
    margin: 3px;
    opacity: 1;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: 0.2s;
    z-index: 9999;  

}  

.tab:hover {
    letter-spacing: 6px;
    text-decoration:
}

.name {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    z-index: 2;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.myname{
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    z-index: 2;
    text-align: center;
}


.navbar {
    width: 100vw;
    padding: 40px 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
    z-index: 10;  
}


.fanarea {
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin-top: 70px;   
}

.fanarea ul{
    font-size: 1.1em;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;
    color: goldenrod;
    left: 0;
    right: 0;
    align-items: center;
   padding: left 20px; ;
}



.showcase,ul{
    align-items: center;
    justify-content: space-between; 
}

.showcase logo {
    text-transform: uppercase;
    cursor: pointer;
}

.overlay {
    position:absolute;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    z-index: 992;
    background: url(video.mp4);
    background-size: cover;
}


.hero_imgs {
    display: flex;
    background-image: linear-gradient(to right rgba(0,0,0,1), rgba(0,0,0,1));
}

.hero_overlay{
  width: 100%; 
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.5); Black background with opacity */ */
  /* z-index: 2; 
  cursor: pointer;
}
.video_overlay {
  object-fit:contain;
  min-width: 50vw;
  min-height: 100vh;
  position: relative;
  top: 20;
    z-index: -5;
    left: 0;
}
.halfpic {
    object-fit:contain;
  min-width: 50vw;
  min-height: 100vh;
  position: relative;
  top: 20;
    z-index: -5;
    left: 0;
}

.overlay2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:pink; 
    mix-blend-mode: overlay;
}

.text {

    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin-top: 70px;

}

.

.text h2 {
    font-size: 5em;
    font-weight: 800;
    line-height: 1em;
    text-transform: uppercase;
    color: goldenrod;
    opacity: 0.9;
}

.text h3 {
    font-size: 4em;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
    color: goldenrod;
    opacity: 0.9;
}

.text ul {
    font-size: 5em;
    font-weight: 800;
    line-height: 1em;
    text-transform: uppercase;
    color: goldenrod;
}

.text p {
    font-size: 1.1em;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;
    color: goldenrod;
    opacity: 0.9;
}

.text a{
    display: inline-block;
    font-size: 1em;
    padding: 8px 5px;
    background-color: #313131;
    color: #999;
    border-width: 1px 1px 2px 1px;
    border-style: solid;
    border-color: #222;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: MontSerrat,Tahoma,Arial,sans-serif;
    font-weight: 700;
    font-size: 0.75em;
    line-height: 1em;
    box-shadow: 1px 1px 0 rgb(0 0 0 / 25%);
    margin: 3px;
    opacity: 1;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: 0.2s;
}

.text a:hover {
    letter-spacing: 6px;
    text-decoration: none;
}


/* 
.socials h2{
    position: relative;
    color: #cacaca;
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 1em;
    line-height: 1.7em;
    font-family: MontSerrat,Tahoma,Arial,sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;

} */

/* 
@media (max-width: 991px) {
    .showcase,
    .showcase header {
        padding: 40px;
}

.text h2 {
    font-size: 3em;
}

.text h3 {
    font-size: 3em;
}

.menu{
    display: inline-block;
    padding: 8px 5px;
    background-color: #313131;
    color: #999;
    border-width: 1px 1px 2px 1px;
    border-style: solid;
    border-color: #222;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: MontSerrat,Tahoma,Arial,sans-serif;
    font-weight: 700;
    font-size: . 75em;
    line-height: 1em;
    box-shadow: 1px 1px 0 rgb(0 0 0 / 25%);
    margin: 3px;
    opacity: 1;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.box1{
    width: 450px;
    height: 600px;
    background-color: goldenrod;
}

h3 {
    color: goldenrod;
    font-family: silk;
}

.open{ 
    width: 450px;
    height: 600px;
    background-color: pink;
 
}

div{
    background-color: goldenrod;
}

.filters li {
    display: inline-block;
    padding: 8px 5px;
    background-color: #313131;
    color: #999;
    border-width: 1px 1px 2px 1px;
    border-style: solid;
    border-color: #222;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: MontSerrat,Tahoma,Arial,sans-serif;
    font-weight: 700;
    font-size: .75em;
    line-height: 1em;
    box-shadow: 1px 1px 0 rgb(0 0 0 / 25%);
    margin: 3px;
    opacity: 1;
    cursor: pointer;
    position: relative;
    overflow: hidden;
} */ */ */